@import "values";

#home-page {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 2fr 3fr;

  @media all and (min-width: $m) {
    grid-template-rows: 6.3fr 173px 3.7fr;
  }

  header {
    height: 100%;
    width: 100%;
    color: #1b4164;
    text-align: center;
    padding: 10vh 20px 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100px 1fr;

    h1 {
      font-weight: lighter;
      font-size: 1.3rem;
      margin: 0;
      line-height: 1.3rem;

      @media all and (min-width: $m) {
        grid-template-rows: 6.3fr 173px 3.7fr;
        font-size: 2.3rem;
        line-height: 2.3rem;
        align-items: center;
        justify-items: center;
      }

      span {
        font-weight: bold;
      }
    }

    p {
      font-weight: lighter;
      font-size: 1.4rem;
      margin: 0;
      display: none;

      @media all and (min-width: $m) {
        display: inline;
      }
    }

    div:last-of-type {
      color: #4f4f4f;
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: 140px 1fr;
      text-align: left;
      align-items: center;

      @media all and (min-width: $m) {
        width: 46vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 20px;
        text-align: right;
        margin-left: 31vw;
      }
    }
  }

  img {
    position: absolute;
    z-index: 10;
    width: 80vmin;
    height: 34.2vmax;
    right: 0;
    top: 23vh;

    @media all and (min-width: $m) {
      width: auto;
      height: auto;
      top: 37vh;
      left: 16vw;
    }
  }

  form {
    height: 100%;
    width: 100%;
    background-color: #164c7e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media all and (min-width: $m) {
      width: 46vw;
      height: 17.8vh;
      margin-left: 32vw;
    }

    fieldset {
      margin: 0;
      padding: 0;
      border: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 87vw;

      @media all and (min-width: $m) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 67px;
      }

      legend {
        font-size: 1.05rem;
        color: white;
        font-family: "Cabin", sans-serif;
        margin-bottom: 25px;
        padding-top: 45px;
        text-align: center;
        font-weight: lighter;

        @media all and (min-width: $m) {
          font-size: 0.68rem;
          text-align: right;
          margin-bottom: 10px;
          width: 100%;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      input {
        height: 47px;
        width: 100%;
        border: none;
        border-radius: 3px;
        padding-left: 20px;
        margin-bottom: 25px;
        box-sizing: border-box;

        @media all and (min-width: $m) {
          width: 240px;
          margin-bottom: 55px;
        }

        &::placeholder {
          color: #5b5b5b;
          opacity: 0.69;
          font-size: 17px;
        }
      }

      button {
        background: linear-gradient(to bottom, #fce400, #f8bc00);
        border: 1px solid #face00;
        width: 100%;
        height: 47px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 3px;
        color: #214e74;
        box-sizing: border-box;

        @media all and (min-width: $m) {
          width: 120px;
          margin-bottom: 55px;
          margin-left: 14px;
        }
      }
    }
  }
}
