@import "values";

html {
  font-size: 20px;

  body {
    background: white url("../static/background.png");
    font-family: "Open Sans", sans-serif;
    margin: 0;

    footer {
      display: none;

      @media all and (min-width: $m) {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        p {
          border-top: 1px solid rgba(0, 0, 0, 0.15);
          width: 27vw;
          text-align: center;
          color: #5b5b5b;
          font-size: 0.65rem;
          margin-bottom: 25px;
          padding-top: 10px;
        }
      }
    }
  }
}
