@import "values";

#thank-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media all and (min-width: $m) {
    display: grid;
    grid-template-rows: 5fr 5fr 1fr;
    align-items: flex-start;
  }

  header {
    width: 82vw;

    @media all and (min-width: $m) {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
    }

    h1 {
      text-align: center;
      font-size: 4.3rem;
      line-height: 4.3rem;
      color: #1b4164;
      margin: 0;

      @media all and (min-width: $m) {
        font-size: 5.2rem;
        line-height: 5.2rem;
      }
    }

    p {
      font-size: 1rem;
      color: #1b4164;
      text-align: center;
      margin: 0;

      @media all and (min-width: $m) {
        font-size: 1.6rem;
      }
    }
  }

  section {
    padding-top: 14vh;
    width: 82vw;

    @media all and (min-width: $m) {
      padding-top: 0;
    }

    &::before {
      content: "";
      width: 53vw;
      height: 1px;
      background: rgba(0, 0, 0, 0.15);
      display: block;
      margin: 0 auto;
      position: relative;
      top: -7vh;

      @media all and (min-width: $m) {
        top: -6vh;
      }
    }

    p {
      color: #4f4f4f;
      font-size: 0.8rem;
      text-align: center;

      @media all and (min-width: $m) {
        font-size: 1.2rem;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: linear-gradient(to bottom, #fce400, #f8bc00);
      text-decoration: none;
      font-weight: bold;
      height: 8.3vh;
      border: 1px solid #face00;
      box-sizing: border-box;
      border-radius: 3px;

      @media all and (min-width: $m) {
        width: 18vw;
        height: 5vh;
        margin: 0 auto;
        font-size: 0.8rem;
      }
    }
  }
}
